*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #99CC99;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    border-radius: 20px;
    height: 174px;
}
.car{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 312px;
    height: 400px;
    box-shadow: 0 0 4px 1.2px gray;
    padding: 30px;
    border-radius: 20px;
}
h3{
    font-size: 23px;
    font-weight: 500;
}
a{
    font-size: 22px;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}